
@import url('http://fonts.cdnfonts.com/css/gotham');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

                



html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;  
  scroll-behavior: smooth;
  
  
}

a {
  text-decoration: none;
  color:white;
}

.blur{
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
}

.interactive,.play_container {
  width:100%;
  height:100%;
}

#c {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("./static/buildings.svg");
  
}

/*controls*/
.play_container{
  position: relative;
}



.reset{
  margin:1em;
  font-size: 2em;
  border-radius: 1em;
  padding:0.5em; 
  background-color: green;
  color: white;
}

.reset:hover{

  background-color: darkgreen;

}

.stop{
  position: absolute;
  top:50px;
  right:150px;
}

.continue{
  position: absolute;
  top:50px;
  right:250px;
}
.homepage{
  position: absolute;
  top:50px;
  left:50px;
  width:3em;
}

.crashed{
  display:none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}

.crashed span{
  font-size: 4em;
  color:white
}


.crashed img{
  width:30vw
}

.control{
  display:none;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width:100%;
  bottom:0%;
  padding:30px 
}
.control button{
  font-size: large;
  border-radius: 10px;
  padding:4px;

  background-color: #E42b29;
  color: white;
}

.splash{
  display:flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
 
 
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}
.play{
  margin:1em;
  font-size: 2em;
  border-radius: 1em;
  padding:0.5em;
  
  background-color: green;
  color: white;
}
.play:hover{

 
  background-color: darkgreen;

}




/*topbar*/
.topbar{
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  background-color: #E4E5E5;
}

.transport_logo{
  background-color: #E4E5E5;
  order:1;
  width:50%;
  margin-right: auto;
  margin-left:1.5em;
  padding:1em;
}

.transport_logo img {
  max-width: 100%;
  max-height: 100%;
}


.mobile_menu{
  order:2;
  width:10%;
  margin-left: auto;
  margin-right: 1.5em;
}

.main_hashtag_container{
  order:3;
  width:30vw;
  background-color: #E42b29;
    border-radius: 4em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    font-size: 1.6vw;
    color:white;
  margin:1em;
  display:none;
  justify-content: center;
  align-items: center;

}

.play_button{
  order:4;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: white;

}

.play_button a{
  text-decoration: none;
  font-size: large;
  color: black;

}
.play_button img{
  width: 12VW;
  margin:1em
}
.play_text{
  color:black;
  font-size: 1.2vw;
  font-weight: 500;
}

.play_button:hover{
  background-color: darkorange;
  
}

.top_hashtag_container{
  width:80%;


  background-color:#E42b29;
  text-decoration: none;
  padding:1em;
  height:6vw;
  border-radius: 3em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  display:flex;
  align-items: center;
  justify-content: center;
 
}

.top_hashtag_container:hover{
  background-color:darkred;
}

.top_hashtag{
  text-align: center;
  font-size: 4.5vw;
  vertical-align:middle; 
  color:white;
  
}




.hero_video{
  width:100%;
  height:50em;
  z-index: 1;
}



.banner_image_container{
  text-align: center;
  overflow: hidden;
  border-style: none;
}

.banner_image{
  display: block;
  border-style: none;
  position: relative; /* allows repositioning */
  z-index: -1;
  width: 100%;
  
}




/*Styles for slideshow*/

* {box-sizing:border-box}

.testimonial_slideshow_container{
  position:relative;
   z-index: 1;
  padding:1rem;
  background-color: black;
}

/* Slideshow container */
.slideshow-container {
  position: relative;

  margin: auto;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
  width:100%;
  height:100%;
}




/* Slide Content*/
.slideContent {
  display:flex;
  justify-content: space-evenly;
  align-items: center;

  padding:5em;
  
}

.videoBorder > iframe{
  border-radius: 10px;
  width:35vw;
  height:19vw
}

.videoBorder{
 
  padding:10px;
  background-color: transparent;
  border-style: solid;
  border-radius: 15px;
  border-color: white;
  border-width: 1px;
}

.videoBorder_bottom{
  flex-basis: unset;
  margin:auto;
}
.videoBorder_bottom > iframe{
  width:100%;
  height:100%
}

.socialposts{
  width:100%;
  display:flex;
  justify-content: center;
  height:30em;
  overflow-y: auto;
}
.messageClass{
  display:flex;
  justify-content: center;
  align-items: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.3);
}


/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  flex-basis: 1;
  color: white;
  font-size: 20px;
  padding: 5vw;
  text-align: left;
}

.text > .quote{
  font-weight: bold;
  font-size: 25px;
 
}

.text > .description{
  font-weight: bold;
  font-size: 17px;
  
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  background-color: rgba(0,0,0,0.5);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/*for dashed line*/
.line {
  margin:0px 0;
  height:2px;
  background:
    repeating-linear-gradient(to right,white 0,white 5px,black 5px,black 7px)
    /*5px red then 2px transparent -> repeat this!*/
}



/*Styles for tabs*/

.upper_tab_style{
  width:15vw;
  font-size: 15px;
}
.upper_tab_style img{
  width:5vw;
  margin:15px
}
.lower_tab_style{
 min-height:20vw;
 font-size: 1.2vw;
}

/* Style the tab */
 .tab {
  overflow: hidden;
  width:"100%";
  background-color: #E42b29;
  display:flex;
}

/* Style the buttons that are used to open the tab content */
 .tab button {
  background-color: #E42b29;
  box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  
  float: left;
  border: none;
  margin:10px;
  border-radius: 5px;
  color:white;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  flex-grow: 1;
}

/* Change background color of buttons on hover */
 .tab button:hover {
  background-color: lightcoral;
  box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.5);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: white;
  box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.5);
  color:black;
  content: url("static/twit.svg");
}

/* Style the tab content */
 .tabcontent {
  display: none;
  color:white;
  padding: 6px 12px;
  
  border-top: none;
  background-color: #E42b29;
}

.media_material{
  display:flex;
  align-items:center;
}


.media_material > div{
  width:50%
}

.media_material_text{
  padding:30px;
  color:white
}



/*styles for the menu*/

.navbar{
  display: none;
  background-color: white;
  width:50%;
  position: fixed;
  z-index: 2;
  right:0;
  top:0;
}

nav{
  display:flex;
  flex-direction: column; 
  background-color: darkred;
  font-size: 4vw;
  font-weight: bold;
  
}
nav ul{
  padding: 0;
  list-style-type: none;
}
nav a,nav li{
  text-align: right;
  text-decoration: none;
  color:white;
}

.active{
  background-color: #E42b29;
}

nav a:focus{
  text-decoration: none;
}


nav li{
  padding-right: 1em;
  
  
  line-height: 1em;
  margin-top:0.5em;
  margin-bottom:0.5em;
}



.menu_close{
  width:15%;
  margin-left: auto;
  margin-right: 1em;
  margin-top: 1em;
}


/*Social Media Timelines*/
.social_logo{
  width:4vw;
  height:4vw;
}

.social_media{
  padding:3em;
  width:100%;
  background-color: black;
}

.heading h1{
  color: white;
  text-align: center;
}



.timelines{
  
  display:flex;
 
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  padding:2em;
}


.facebook_timeline{
 display:flex;
 overflow: hidden;
 flex-direction: column;
 align-items: center;
  margin:1em;
  padding:2em;
  border-radius: 10px;
  background-color: white;
}

.twitter_timeline{
  overflow: hidden;
  display:flex;
 flex-direction: column;
 align-items: center;
  margin:1em;
 
  padding:2em;
  border-radius: 10px;
  background-color: white;
}

.timeline{
 
}

.timelines h1{
  font-weight: 500;
  text-align: center;
  margin-left: 1em;
}
.timeline_head{
  display:flex;
  margin:15px;
  justify-content: center;
}

/*For desktop*/

@media only screen and (min-width: 1000px) {
  .timelines{
  
    display:flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    padding:2em;
  }

  /* For topbar: */
  .topbar{
    padding:1em;
    padding-left: 2em;
    padding-right: 2em;
    justify-content: space-between;
    flex-wrap: unset;
    align-items: center;
    background-color: white;
  }
  
  .transport_logo{
    order:1;
    width:20vw;
    margin-right: unset;
    margin-left:2vw;
    padding:unset;
    background-color: white;
  }

  .control{
    display: none;
  }
  
  .mobile_menu{
    display: none;
    order:unset;
    width:10%;
    margin-left: auto;
    margin-right: 1.5em;
  }
  
  .main_hashtag_container{
    order:2;
    
   
    width:30vw;
    background-color: #E42b29;
      border-radius: 4em;
      padding-top: 0.7em;
      padding-bottom: 0.7em;
      font-size: 1.6vw;
      color:white;
    margin:1em;
    display:flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .play_button{
    order:4;
    width:unset;
    
    display:flex;
    justify-content: center;
    border-radius: 2em;
    align-items: center;
    padding:0.3em;
  }
  
  
  .play_button:hover{
    background-color: lightgray;
    cursor: pointer;
  }
  
  .top_hashtag_container{
    width:unset;
    background-color:#E42b29;
    text-decoration: none;
    padding:0.5em;
    padding-left:0.8em;
    padding-right:0.8em;
    height:unset;
    border-radius: 2em;
    margin-top: unset;
    margin-bottom: unset;
  
    display:flex;
    align-items: center;
    justify-content: center;
   
  }

  
  .top_hashtag_container:hover{
    background-color:darkred;
  }
  
  .top_hashtag{
    text-align: center;
    font-size: 1.7em;
    line-height: 0.2em;
    vertical-align:middle; 
    color:white;
    
  }

  /* for navbar */
  .navbar{
    display: block;
    background-color: #E42b29;
    width:unset;
    height:unset;
    position: unset;
    z-index: unset;
    right:unset;
    top:unset;
    padding-top: 0.7vw;
    padding-bottom: 0.7vw;
    padding-left: 15%;
    padding-right: 15%;
  }
  
  nav{
    display:block;
    flex-direction: unset; 
    background-color: unset;
    font-weight: 500;
    font-size: 1.2vw;
    
  }
  nav ul{
    padding: 0em;
    margin: 0em;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }
  nav a,nav li{
    text-align: right;
    text-decoration: none;
    color:white;
  }
  
  nav li{
    padding-right: 1em;
    padding-left: 1em;
    
    height:1em;
    line-height: 1em;
    margin-top:0.5em;
    margin-bottom:0.5em;
  }

  
.menu_close{
  display:none;
}

/*banner image*/
.banner_image_container{
  text-align: unset;
  overflow: hidden;

}

.banner_image{
 
  position: relative; /* allows repositioning */
  z-index: -1;
  width:100%;
  margin-left: unset;
}

  
  
}


